<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
    }
    #sketch {
      height: 200px;
      width: 200px;
      border: 1px dashed black;
      position: relative;
    }
    #paint {
      cursor: crosshair;
    }
    #output {
      position: relative;
    }
    #correct {
      color : green;
    }
    #incorrect {
      color: red;
    }
  </style>
 </head>
<body>
  <h1>Would you survive the Titanic?</h1>
  <p>This app can predict with ~80% accuracy if you would survive the titanic disaster. </p>
  <p>Fill in the details however you want and let the app predict if you would survive.</p>
  Class:
  <select id='pClass'>
    <option value="3">1st</option>
    <option value="2">2nd</option>
    <option value="1">3rd</option>
  </select> <br />
  Gender:
  <select type='' id='sex'>
    <option value="1">Male</option>
    <option value="0">Female</option>
  </select> <br />
  Age: <input type="number" id="age" /> <br />
  Number of siblings and/or spouses on board: <input type="number" id="sibSp" /> <br />
  Number of parents and/or children on board: <input type="number" id="parch" /> <br />
  Where did you embark from:
  <select type='' id='embarked'>
    <option value="0">Cherbourg (France)</option>
    <option value="1">Queenstown (Ireland)</option>
    <option value="2">Southampton (England)</option>
  </select> <br />
  <button onclick="predict()">Predict</button>
  <h3 id='result'></h3>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/predict.js') }}"></script>
</body>
</html>